@model Vidly.ViewModels.HomePageViewMode
@{
    Layout = "~/Views/Shared/LayoutForHomePage.cshtml";
    ViewBag.Title = "Home Page";

}
@{
    var moveie1 = Model.Movies.SingleOrDefault(m => m.Id == Model.HomePageMovies.Movie1);
    var moveie2 = Model.Movies.SingleOrDefault(m => m.Id == Model.HomePageMovies.Movie2);
    var moveie3 = Model.Movies.SingleOrDefault(m => m.Id == Model.HomePageMovies.Movie3);
    var moveie4 = Model.Movies.SingleOrDefault(m => m.Id == Model.HomePageMovies.Movie4);
    var moveie5 = Model.Movies.SingleOrDefault(m => m.Id == Model.HomePageMovies.Movie5);
}

<div class="container-fluid">

    <div class="row">

        <ul id="tabs" class="tabs">
            <li class="active">@Html.ActionLink("Likai's cinema", "Index", "Home")</li>
            <li onmouseover="TabsHover(this)" onmouseout="TabsOut(this)">@Html.ActionLink("Customers", "Index", "Customers")</li>
            <li onmouseover="TabsHover(this)" onmouseout="TabsOut(this)">@Html.ActionLink("Movies", "Index", "Movies")</li>
        </ul>
    </div>
</div>

<hr>


<div class="container">
    <br>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <a href="#">
                    <img src="https://cdn.eventcinemas.co.nz/cdn/resources/home/banners/209/banner.jpg" alt="Chania" width="460" height="345">
                    <div class="carousel-caption">
                        <h3>Chania</h3>
                        <p>The atmosphere in Chania has a touch of Florence and Venice.</p>
                    </div>
                </a>
            </div>

            <div class="item">
                <a href="#">
                    <img src="https://cdn.eventcinemas.co.nz/cdn/resources/home/banners/204/banner.jpg" alt="Chania" width="460" height="345">
                    <div class="carousel-caption">
                        <h3>Chania</h3>
                        <p>The atmosphere in Chania has a touch of Florence and Venice.</p>
                    </div>
                </a>
            </div>

            <div class="item">
                <a href="#">
                    <img src="https://cdn.eventcinemas.co.nz/cdn/resources/home/banners/211/banner.jpg" alt="Flower" width="460" height="345">
                    <div class="carousel-caption">
                        <h3>Flowers</h3>
                        <p>Beatiful flowers in Kolymbari, Crete.</p>
                    </div>
                </a>
            </div>

            <div class="item">
                <a href="#">
                    <img src="https://cdn.eventcinemas.co.nz/cdn/resources/home/banners/210/banner.jpg" alt="Flower" width="460" height="345">
                    <div class="carousel-caption">
                        <h3>Flowers</h3>
                        <p>Beatiful flowers in Kolymbari, Crete.</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<hr />


@using (Html.BeginForm("Save", "Home"))
{
    <div class="container-fluid">
        <div class="row">
            <hr>
            <div class="main-videos">
                <div class="col-md-2 ">
                    <h2>Hot</h2>
                    <ul>
                        <li>ABC</li>
                        <li>ABC</li>
                        <li>ABC</li>
                        <li>ABC</li>
                        <li>ABC</li>
                    </ul>
                </div>

                <div class="col-md-2 video">


                    @Html.TextBoxFor(c => c.HomePageMovies.Movie1, new { @value = @Model.HomePageMovies.Movie1, @class = "form-control" })
                    <div class="area">
                        <a href='/Movies/Details/@moveie1.Id'>
                            <div class="mask" movie-id="">
                                <div class="vertical-align ">
                                    <i class="fa fa-eye"></i>
                                    <p>See More</p>
                                </div> <!-- End Vertical Align -->
                            </div> <!-- End Mask / Hover -->
                        </a>
                        <img src=@moveie1.PicUrl alt="video" class="img-responsive  ">
                        <span class="duration">44:03</span>
                    </div> <!-- End Area -->

                    <h4>@moveie1.Name</h4>
                    <p><span>9 Days Ago</span> By <a href="#">Know More</a> Action</p>

                    @*<button class="hiden-button upload-info">Upload</button>*@
                    <button type="button" class="btn btn-info btn-lg upload-info"
                            data-toggle="modal" data-target="#myModal">
                        Open MovieList
                    </button>

                </div> <!-- End first movie -->


                <div class="col-md-2 video">
                    @* set the homepageMovieId *@
                    @Html.TextBoxFor(c => c.HomePageMovies.Movie2, new { @value = @Model.HomePageMovies.Movie1, @class = "form-control" })
                    <div class="area">
                        <a href='/Movies/Details/@moveie2.Id'>
                            <div class="mask" movie-id="">
                                <div class="vertical-align ">
                                    <i class="fa fa-eye"></i>
                                    <p>See More</p>
                                </div> <!-- End Vertical Align -->

                            </div> <!-- End Mask / Hover -->
                        </a>


                        <img src=@moveie2.PicUrl alt="video" class="img-responsive  ">

                        <span class="duration">44:03</span>

                    </div> <!-- End Area -->

                    <h4>@moveie2.Name</h4>
                    <p><span>9 Days Ago</span> By <a href="#">Know More</a> Action</p>

                    @*<button class="hiden-button upload-info">Upload</button>*@
                    <button type="button" class="btn btn-info btn-lg upload-info"
                            data-toggle="modal" data-target="#myModal">
                        Open MovieList
                    </button>

                </div> <!-- End Second movie -->

                <div class="col-md-2 video">
                    @* set the homepageMovieId *@
                    @Html.TextBoxFor(c => c.HomePageMovies.Movie3, new { @value = @Model.HomePageMovies.Movie1, @class = "form-control" })
                    <div class="area">
                        <a href='/Movies/Details/@moveie3.Id'>
                            <div class="mask" movie-id="">
                                <div class="vertical-align ">
                                    <i class="fa fa-eye"></i>
                                    <p>See More</p>
                                </div> <!-- End Vertical Align -->

                            </div> <!-- End Mask / Hover -->
                        </a>
                        <img src=@moveie3.PicUrl alt="video" class="img-responsive  ">

                        <span class="duration">44:03</span>

                    </div> <!-- End Area -->

                    <h4>@moveie3.Name</h4>
                    <p><span>9 Days Ago</span> By <a href="#">Know More</a> Action</p>

                    @*<button class="hiden-button upload-info">Upload</button>*@
                    <button type="button" class="btn btn-info btn-lg upload-info"
                            data-toggle="modal" data-target="#myModal">
                        Open MovieList
                    </button>

                </div> <!-- End third movie -->

                <div class="col-md-2 video">
                    @* set the homepageMovieId *@
                    @Html.TextBoxFor(c => c.HomePageMovies.Movie4, new { @value = @Model.HomePageMovies.Movie1, @class = "form-control" })
                    <div class="area">
                        <a href='/Movies/Details/@moveie4.Id'>
                            <div class="mask" movie-id="">
                                <div class="vertical-align ">
                                    <i class="fa fa-eye"></i>
                                    <p>See More</p>
                                </div> <!-- End Vertical Align -->

                            </div> <!-- End Mask / Hover -->
                        </a>


                        <img src=@moveie4.PicUrl alt="video" class="img-responsive  ">

                        <span class="duration">44:03</span>

                    </div> <!-- End Area -->

                    <h4>@moveie4.Name</h4>
                    <p><span>9 Days Ago</span> By <a href="#">Know More</a> Action</p>

                    @*<button class="hiden-button upload-info">Upload</button>*@
                    <button type="button" class="btn btn-info btn-lg upload-info"
                            data-toggle="modal" data-target="#myModal">
                        Open MovieList
                    </button>

                </div> <!-- End fourth movie -->
                <div class="col-md-2 video">
                    @* set the homepageMovieId *@
                    @Html.TextBoxFor(c => c.HomePageMovies.Movie5, new { @value = @Model.HomePageMovies.Movie1, @class = "form-control" })
                    <div class="area">
                        <a href='/Movies/Details/@moveie5.Id'>
                            <div class="mask" movie-id="">
                                <div class="vertical-align ">
                                    <i class="fa fa-eye"></i>
                                    <p>See More</p>
                                </div> <!-- End Vertical Align -->

                            </div> <!-- End Mask / Hover -->
                        </a>


                        <img src=@moveie5.PicUrl alt="video" class="img-responsive  ">

                        <span class="duration">44:03</span>

                    </div> <!-- End Area -->

                    <h4>@moveie5.Name</h4>
                    <p><span>9 Days Ago</span> By <a href="#">Know More</a> Action</p>

                    @*<button class="hiden-button upload-info">Upload</button>*@
                    <button type="button" class="btn btn-info btn-lg upload-info"
                            data-toggle="modal" data-target="#myModal">
                        Open MovieList
                    </button>

                </div> <!-- End fifth movie -->

            </div> <!-- End Main Videos -->

        </div> <!-- End Row -->
    </div> <!-- End Container-Fluid -->
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Movie List</h4>


                    <!--          table   -->

                    <div class="modal-body">
                        <!--  table-->

                        <table class="table table-striped fixed">
                            <tbody>
                                <tr>
                                    @foreach (var movie in Model.Movies)
                                    {
                                        <td>
                                            <p class="chooseMovie" data-dismiss="modal" value-url=@movie.PicUrl
                                               value-id=@movie.Id>@movie.Name</p>
                                        </td>
                                    }
                                </tr>

                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-primary col-md-offset-11" style="margin-top:30px">Save Changes</button>
    @*  end the save form*@}

<hr>








