@model Vidly.ViewModels.MovieFormViewModel
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section AddToHead{
    <link href="@Url.Content("~/Content/MovieDetails.css")" rel="stylesheet" type="text/css" />
}









<div class="row">
    <div class="col-md-7 information">
        <h2>@Model.Movies.Name</h2>
        <ul>
            <li>Type: @Model.Movies.Genre.Name</li>
            <li>Public Date: @Model.Movies.ReleaseDate.ToShortDateString()</li>
            <li>Date Add: @Model.Movies.DateAdd.ToShortDateString()</li>
        </ul>
    </div>
    <div >
        <img class="pic" src=@Model.Movies.PicUrl>
    </div>
</div>


<hr />

<div class="row">

    <!-- Blog Post Content Column -->
    <div class="col-md-9">


        <!-- Comments Form -->
        <div class="well">
            <h4>Leave a Comment:</h4>

            @using (Html.BeginForm("SubmitComment", "Movies"))
            {
                <div class="form-group">
                    @Html.TextAreaFor(m => m.NewComment.Comment, new { @class = "form-control", @rows = "3" })
                </div>
                    <input class="form-control" id="NewComment_User" name="NewComment.User" type="text" value=@User.Identity.Name style="display:none">
                    <input class="form-control" id="NewComment_MoviesId" name="NewComment.MoviesId" type="text" style="display:none" value=@Model.Movies.Id>
                <button type="submit" class="btn btn-primary">Submit Comment</button>
            }

        </div>

        @Html.HiddenFor(m => m.Movies.Id)

        <hr>

        <!-- Posted Comments -->
        @foreach (var comment in Model.Comments)
            {
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="https://placehold.it/64x64" alt="">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">
                        @comment.User
                        <small>August 25, 2014 at 9:30 PM</small>
                    </h4>
                    @comment.Comment
                </div>
            </div>
        }



        <!-- Comment -->
        @*<div class="media">
            <a class="pull-left" href="#">
                <img class="media-object" src="https://placehold.it/64x64" alt="">
            </a>
            <div class="media-body">
                <h4 class="media-heading">
                    Start Bootstrap
                    <small>August 25, 2014 at 9:30 PM</small>
                </h4>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                <a>SeeMore</a>
                 Nested Comment 
                <div class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object" src="https://placehold.it/64x64" alt="">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">
                            Nested Start Bootstrap
                            <small>August 25, 2014 at 9:30 PM</small>
                        </h4>
                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                    </div>

                </div>*@
                <!-- End Nested Comment -->
            </div>
        </div>


<!-- /.row -->
